<div class="f-container"
  style="padding:30px;margin-top:50px;display:flex; align-items: center; background-color: #fef3f3;border-radius: 20px;width: 800px;">
  <div class="f-item" style="margin-right: 20px;">
    <img src="/contact-1.png" style="width: 140px;">
  </div>
  <div class="f-item" style="font-size: 1.05rem;width: 450px;">
    <h4 class="mb-4 text-1l font-bold md:mb-6 lg:text-2l" style="margin-bottom: 20px;">自動化ソリューションについてのお問い合わせはこちら</h4>
    <p>何かご質問やご要望がありましたらお知らせください。</p>
    <p>お手伝いできることを楽しみにしております。</p>
  </div>
  <div class="f-item">
    <a style="
      color:white;
      background-color: red;
      border: solid 1px #820b35;
      box-shadow:0 0 0 1px #f2548b;
      border-radius: 0.375rem;
      font-size: 1.05rem;
      padding: 1.2rem;" class="w-full rounded border" href="/contact">案件問合せ</a>
  </div>
</div>